camel-first/src/main/resources/META-INF/init.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://first.camel.com"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://first.camel.com">

    <!-- Type definitions for input- and output parameters for webservice -->
    <wsdl:types>
        <xs:schema targetNamespace="http://first.camel.com">
            <xs:element name="input">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="cliente"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="output">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="mensaje"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <!-- Message definitions for input and output -->
    <wsdl:message name="input">
        <wsdl:part name="in" element="tns:input"/>
    </wsdl:message>
    <wsdl:message name="output">
        <wsdl:part name="out" element="tns:output"/>
    </wsdl:message>

    <!-- Port (interface) definitions -->
    <wsdl:portType name="Consumer_PortType">
        <wsdl:operation name="init">
            <wsdl:input message="tns:input"/>
            <wsdl:output message="tns:output"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- Port bindings to transports and encoding - HTTP, document literal encoding is used -->
    <wsdl:binding name="Consumer_Binding" type="tns:Consumer_PortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="init">
            <soap:operation
                    soapAction="http://first.camel.com/init"
                    style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Service definition -->
    <wsdl:service name="Consumer_Service">
        <wsdl:port name="Consumer_Port" binding="tns:Consumer_Binding">
            <soap:address location="http://localhost:9000/init"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>